@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: 1.6rem;
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}
/* ------------------------------- */

:root {
  --fontSize-sm: 1.8rem;
  --fontSize-med: 2.2rem;
  --fontSize-huge: 4rem;
  --mainPara__content-width: 40%;
  --pad-sm: 1em 2em;
  --pad-med: 1em 4em;
  --pad-big: 1em 6em;
  --pad-xbig: 3em 6em;
  --gap-xsm: 0.4em;
  --gap-sm: 1em;
  --gap-med: 2em;
  --gap-big: 4em;
  --mar-sm: 2em;
  --border: 2px solid #000;
  --color-primary: #d5f2e3;
  --color-secondary: #ba2d0b;
}

/* ------------------------------- */
#content {
  font-size: var(--fontSize-med);
  border: var(--border);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  min-height: 15vh;
  /* margin-bottom: var(--mar-sm); */
  border-bottom: var(--border);
}

.header__logo {
  max-width: 40rem;
  margin-right: auto;
  gap: var(--gap-sm);
  padding: var(--pad-big);
  transition: all 0.2s;
  cursor: pointer;
}

.header__logo:hover {
  transform: scale(1.03);
}

.header__logo:active {
  transform: scale(1.01);
}

.header__tabs {
  max-width: 60vw;
  padding: var(--pad-sm);
  gap: var(--gap-med);
}

.header__tabs--btn {
  padding: var(--pad-sm);
  font-family: inherit;
  font-size: var(--fontSize-sm);
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
}
.header__tabs--btn:hover {
  color: var(--color-secondary);
  transform: scale(1.06);
}

.header__tabs--btn:active {
  transform: scale(1.01);
}

.main {
  min-height: 75vh;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;

  background-color: var(--color-primary);
}

.main__description {
  flex-direction: column;
  width: 62ch;
  padding: var(--pad-xbig);
  gap: var(--gap-xsm);
}

.main__hours {
  width: 50%;
  flex-direction: column;
}

.main__hours h2 {
  font-size: var(--fontSize-huge);
}

.main__hours--list {
  list-style: none;
}
.main__hours--list-title {
  text-decoration-line: underline;
  font-weight: 700;
}

.menu {
  min-height: 75vh;
  text-align: center;
  background-color: var(--color-primary);
  padding: var(--pad-med);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  gap: var(--gap-big);
  justify-content: center;
}

.menu__item {
  flex-direction: column;
  gap: var(--gap-sm);
}

.menu__item img {
  height: 20rem;
  border-radius: 50%;
}
